@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #fafafa;
  --spacing: 1rem;
  --outline: #282828;
  --box-button-active: #aeaeae33;
  --sub: #9e9e9e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

sub {
  color: var(--sub);
}
