@import "tailwindcss";

@font-face {
  font-family: "Alfa Slab One";
  src: url("/fonts/AlfaSlabOne-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Goldman";
  src: url("/fonts/Goldman-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Leckerli One";
  src: url("/fonts/LeckerliOne-Regular.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Goldman";
  src: url("/fonts/Goldman-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/maple-mono-latin-400-normal.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/maple-mono-latin-700-normal.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf");
}

:root {
  --accent: #ccaff1;
  --accent-background: #ab71f642;
  --background: #060606;
  --background-2: #090909;
  --box-button-active: #aeaeae33;
  --error-background: #6c0c0e42;
  --error-outline: #8c4b52;
  --foreground: #fafafa;
  --outline: #292929;
  --outline-active: #424242;
  --sub: #ffffff7f;
  --text-selection: #6284ff75;

  --spacing: 1rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

::selection {
  background-color: var(--text-selection);
  color: var(--foreground);
}

::-moz-selection {
  background-color: var(--text-selection);
  color: var(--foreground);
}

::placeholder {
  color: var(--sub);
}

sub, label *:not(input, textarea, button.action, select) {
  color: var(--sub);
  font-size: 0.75rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

label {
  display: block;
  width: 100%;
}

input:not([type="checkbox"]), textarea, button.action, select {
  border-radius: 0.75rem;
  padding: 0.3rem 0.65rem;
  outline: 1px solid var(--outline);
  background-color: var(--background-2);
  width: 100%;
  font-size: 0.9rem;
  transition: outline-color 0.125s;
}

:is(input:not([type="checkbox"]), textarea, button.action, select):focus-visible {
  outline-color: var(--accent);
}

input[type="submit"], button.action {
  cursor: pointer;
}

:is(input[type="submit"], button.action):hover {
  outline-color: var(--outline-active);
}

.lucide {
  display: inline;
  height: 1.5em;
  margin-top: -0.2em;
}

code {
  font-family: "Maple Mono";
}

.mention {
  color: var(--accent);
  background-color: var(--accent-background);
  border-radius: 0.25em;
  padding: 0em 0.1em;
  margin: 0em -0.1em;
}

blockquote {
  padding: 0.5rem 1rem;
  border-left: solid 0.2rem var(--accent);
}

textarea {
  height: 6em;
}

@layer base {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.7rem 0;
  }
}
